section.container {
    z-index: 10;
    width: auto;
    height: auto;
    box-shadow: unset;
    position: relative;
    padding: 8vh 4vw 8vh 4vw;
    background-image: linear-gradient(0deg, #d8b79ac2, #ac9079c0);

    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteBox {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.65);
}

.containerText {
    width: auto;
    height: auto;
    display: grid;
    padding: 5vh 5vw 5vh 5vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.textTitle {
    font-size: 5vh;
    color: #f16352;
    word-break: break-word;
    text-align: center;
    margin-bottom: 1.5vh;
    width: auto;
}

.text {
    margin-top: 1vh;
    line-height: 4.1vh;
    font-size: 2.4vh;
    word-break: break-word;
    text-align: center;
    max-width: 70vw;
    width: auto;
}

.buttonContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0vh 2vw 4vh 2vw;

    display: grid;
    grid-template-columns: auto auto;
}

.button {
    height: 7vh;
    font-size: 2vh;
    margin: 2vh 5vh 2vh 5vh;

    /* com 2 botoes */
    /* padding: 1vh 8vh 1vh 8vh; */

    /* apenas 1 botao */
    padding: 1vh 12vh

}

/* dialog */
.dialogContent {
    padding: 1vh 0vw 0vh 0vw;
    /* min-width: 82.5vw; */
    max-width: 60vw;
    display: grid;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.containerTitle {
    display: grid;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 1fr auto;
}

.dialogTitle {
    font-weight: 600;
    font-size: 3vh;
}

.subTitle {
    padding: 0 0 0 0.5vw;
    font-weight: 500;
    font-size: 2.2vh;
}

.bodyContent {
    padding: 0 0 0 1.5vw;
    font-weight: 400;
    font-size: 2vh;
}

.dialogActions {
    padding: 0vh 1.5vw 2vh 2vw
}

.notificationCard {
    width: 60vw;
    margin-bottom: 3vh;
    margin-top: -2vh;
}

.notificationCss {
    width: 40vw;
}


/* If the screen size is 900px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 900px) {
    .containerText {
        width: auto;
        height: auto;
        display: grid;
        padding: 5vh 5vw 3vh 5vw;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .textTitle {
        font-size: 4vh;
        color: #f16352;
        word-break: break-word;
        text-align: center;
        max-width: 100vw;
        margin-bottom: 2vh;
        width: auto;
    }

    .text {
        margin-top: 1vh;
        line-height: 4.2vh;
        font-size: 2.3vh;
        word-break: break-word;
        text-align: center;
        max-width: 80vw;
        width: auto;
    }

    .buttonContainer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0vh 2vw 2vh 2vw;
    
        display: grid;
        grid-template-columns: auto auto;
    }

    .button {
        height: 6vh;
        font-size: 2vh;
        padding: 1vh 4vh 1vh 4vh;
        margin: 0vh 2.5vh 2vh 2.5vh;
    }

    /* dialog */
    .dialogContent {
        margin: 1vh 0 0 0;
        max-width: 85vw;
        min-height: 45vh;

        display: grid;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .cardItem {
        border-radius: 15px;
        background-color: #eeeeee;
        padding: 1vh 1vw;
    }
    
    .closeIcon {
        font-size: 20px;
        color: #515A5A;
    }

    .subTitle {
        padding: 0 0 0 0.5vw;
        font-weight: 500;
        font-size: 2.8vh;
    }
    
    .bodyContent {
        padding: 0 0 0 1.5vw;
        font-weight: 400;
        font-size: 2.5vh;
    }

    .bodyContentError {
        color: #fc5454;
        padding: 0 0 0 1.5vw;
        font-weight: 400;
        font-size: 2.6vh;
    }

    .dialogActions {
        padding: 1vh 4vw 2vh 4vw
    }

    .notificationCard {
        width: 80vw;
        margin-bottom: 4vh;
        margin-top: 0vh;
    }

    .notificationCss {
        width: 65vw;
    }
}