section.container {
    width: auto;
    height: 100%;
    min-height: 100vh;
    box-shadow: unset;
    position: relative;
    padding: 0 4vw;
    background-image: linear-gradient(0deg, #ac9079c0, #d8b79ac2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteBox {
    margin: 10vh 0 5vh 0;
    width: 100%;
    height: 100%;
    padding: 2vh 2vw;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.65);
}

.containerActions {
    padding: 2vh 0 1vh;
    height: 100%;
    width: 100%;
}

.input {
    width: 100%;
}

.containerTable {
    margin: 3vh 2vw 3vh;
    height: 100%;
    width: 100%;
    min-height: 60vh;
}

.buttontr {
    height: 5vh;
}

.imagem {
    width: 12vh;
    height: 12vh;
    object-fit: 'contain';
}

/* dialog */
.dialogTitle {
    font-weight: 600;
    font-size: 3vh;
}

.subTitle {
    padding: 0 0 0 0.5vw;
    font-weight: 500;
    font-size: 2.2vh;
}

.bodyContent {
    padding: 0 0 0 1.5vw;
    font-weight: 400;
    font-size: 2vh;
}

.addButton {
    height: 6vh;
}

.cardItem {
    margin: 1vh;
    padding: 1vh 1vw;

    border-style: inset;
    border-color: #b3a4a0;
    border-radius: 15px;
    background-color: #eeeeee;
}

.closeIcon {
    cursor: pointer;
    font-size: 20px;
    color: #515A5A;
}

.dialogActions {
    padding: 0vh 1.5vw 2vh 2vw
}


/* If the screen size is 1600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1600px) {
    .buttontr {
        padding: 0.4vh;
    }
}

/* If the screen size is 900px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 900px) {
    section.container {
        z-index: 10;
        width: auto;
        height: auto;
        box-shadow: unset;
        position: relative;
        padding: 8vh 5vw 8vh 5vw;
        background-image: linear-gradient(0deg, #ac9079c0, #d8b79ac2);
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dialogActions {
        padding: 1vh 4vw 2vh 4vw
    }

    .buttontr {
        margin-top: 3vh;
    }
}