
.gridContainer {
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto auto auto 1fr;
}

.gridItem {
    text-align: center;
}

.imageCasal {
    float: left;
    width: 100%;
    position: absolute;
    background-image: url(/casaleapedra.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 0;
}

.textoImage {
    text-align: center;
    padding: 15vh 20px 15px 20px;
    font-size: 6rem;
    font-weight: 800;
    color: #C99971;
    -webkit-text-stroke: 1px #5A4432;
}